{% include "header.html" %}

<form action="/add_coffeehouse" method="post">
    {% if result: %}
    <h2 style="color:red">This coffeehouse already exists in our data. If you want add another, please complete form again.</h2>
    {% else %}
    <h2>To add new coffeehouse we need more information. Fill below form!</h2>
    {% endif %}
    <br>
    {{insert.name.label}} {{insert.name}}
    <br>
    {{insert.map_url.label}} {{insert.map_url}}
    <br>
    {{insert.img_url.label}} {{insert.img_url}}
    <br>
    {{insert.location.label}} {{insert.location}}
    <br>
    {{insert.has_sockets.label}} {{insert.has_sockets}}
    <br>
    {{insert.has_toilet.label}} {{insert.has_toilet}}
    <br>
    {{insert.has_wifi.label}} {{insert.has_wifi}}
    <br>
    {{insert.can_take_calls.label}} {{insert.can_take_calls}}
    <br>
    {{insert.seats.label}} {{insert.seats}}
    <br>
    {{insert.coffee_price.label}} {{insert.coffee_price}}
    <br>
    {{insert.button}}
</form>

{% include "footer.html" %}