{% include "header.html" %}

<div class="contact_container">
    <br>
    <h2>Let's stay in contact</h2>
    <h4 style="text-align: center;">How can we help you?</h4>
    {% if result %}
    <h4 style="text-align: center; color:green">Successfully send message!</h4>
    {% endif %}
    <form action="/contact" method="post">
        {{contact_form.name.label}} {{contact_form.name}}
        <br>
        {{contact_form.surname.label}} {{contact_form.surname}}
        <br>
        {{contact_form.title.label}} {{contact_form.title}}
        <br>
        {{contact_form.email.label}} {{contact_form.email}}
        <br>
        {{contact_form.message.label}} {{contact_form.message(cols="106", rows="10")}}
        <br>
        {{contact_form.button}}
    </form>
</div>
{% include "footer.html" %}