ra{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Login{% endblock %}
{% block content %}


    <div class="container text-center" >
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-1 p-2 border">
                <h6 class="fw-bold">Id</h6>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 p-2 border">
                <h6 class="fw-bold">E-mail</h6>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 p-2 border">
                <h6 class="fw-bold">Password</h6>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 p-2 border">
                <h6 class="fw-bold">Account creation date</h6>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 p-2 border">
                <h6 class="fw-bold">Update</h6>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2 p-2 border">
                <h6>Delete</h6>
            </div>
        </div>
    </div>

            <form action="/admin" method="post" enctype="multipart/form-data">
                {% for data in datas %}
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 col-md-1 col-lg-1 p-2 border text-center">
                            <h6>{{ datas[data]["id"] }}</h6>
                        </div>
                        <div class="col-sm-2 col-md-6 col-lg-3 p-2 border">
                            <h6>{{ data }}</h6>
                        </div>
                        <div class="col-sm-2 col-md-6 col-lg-2 p-2 border">
                            <h6>{{ datas[data]["password"][:10] }}...</h6>
                        </div>
                        <div class="col-sm-2 col-md-6 col-lg-2 p-2 border text-center">
                            <h6>{{ datas[data]["create_date"] }}</h6>
                        </div>
                        <div class="col-sm-2 col-md-6 col-lg-2 p-2 border text-center">
                            <button name="update" class="btn btn-success" value="{{ datas[data]['id'] }}">Update</button>
                        </div>
                        <div class="col-sm-2 col-md-6 col-lg-2 p-2 border text-center">
                            {% if data == 'admin@gmail.com' %}
                                -----------
                            {% else %}
                                <button class="btn btn-danger" name="delete" value="{{ datas[data]['id'] }}">Delete</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </form>


{% endblock %}